<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/">
  <sitecore coveo:require="!disabled">
    <coveo>
      <api>
        <cache>
          <expirations>
            <fetchOrganizations>00:01:00</fetchOrganizations>
            <fetchRegions>00:05:00</fetchRegions>
          </expirations>
        </cache>
      </api>
    </coveo>
    <pipelines>
      <initialize>
        <processor type="Coveo.Service.Api.ConfigService.Processors.InitializeConfigServiceApiRoutes, Coveo.Service.Api.ConfigService" />
        <processor type="Coveo.Service.Api.ConfigService.Processors.InitializeConfigServiceSwagger, Coveo.Service.Api.ConfigService" />
        <processor type="Coveo.Service.Api.Framework.Processors.InitializeCoveoApiErrorFilter, Coveo.Service.Api.Framework" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>