<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/">
  <sitecore coveo:require="!disabled">
    <coveo>
      <api>
        <cache>
          <expirations>
            <fieldsLimitSummary>00:02:00</fieldsLimitSummary>
            <documentsLimitSummary>00:02:00</documentsLimitSummary>
          </expirations>
        </cache>
      </api>
    </coveo>
    <pipelines>
      <initialize>
        <processor type="Coveo.Service.Api.IndexService.Processors.InitializeIndexServiceApiRoutes, Coveo.Service.Api.IndexService" />
        <processor type="Coveo.Service.Api.IndexService.Processors.InitializeIndexServiceSwagger, Coveo.Service.Api.IndexService" />
        <processor type="Coveo.Service.Api.Framework.Processors.InitializeCoveoApiErrorFilter, Coveo.Service.Api.Framework" />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>