<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:coveo="http://www.sitecore.net/coveo/">
  <sitecore coveo:require="!disabled">
    <coveo>
      <cloudPlatformConfiguration type="Coveo.Framework.Configuration.CloudPlatformConfiguration, Coveo.Framework">
        <apiKey>8Xqztib/xvjb/e3xg5PsKagosT6oFleov/XmCXGObN7xylFMK/vxFIPJ6jl32I9k</apiKey>
        <indexingEndpointUri>https://api.cloud.coveo.com/push</indexingEndpointUri>
        <organizationId>avidtechnologyincnonprod</organizationId>
        <cloudPlatformUri>https://platform.cloud.coveo.com</cloudPlatformUri>
        <searchApiKey>6ArEnGv/QmgSZ5ZHEJc+/vg/gJV2UIc8CLfDEXV4i8TNCjU2RXDsKZPPMVp1jARj</searchApiKey>
      </cloudPlatformConfiguration>
    </coveo>
  </sitecore>
</configuration>